# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Grafana local data
grafana_data/

# Observability persistent data
loki_data/
prometheus_data/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Git repository
.git/
